<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home work fo Spreeng MVC (base)</title>
    <h1>Task 2</h1>
    <p>Добавление Thymeleaf в проект<br>
        Добавьте Thymeleaf в свое веб-приложение Spring MVC. <br>
        Создайте простую страницу с некоторыми переменными, которые заполняются с помощью модели Spring MVC и
        отображаются на странице с использованием Thymeleaf.</p>

    <table>
        <tr>
            <td>Переменная</td>
            <td>Значение</td>
        </tr>
        <tr>
            <td>var</td>
            <td th:text="${var}"></td>
        </tr>
        <tr>
            <td>rnd</td>
            <td th:text="${rnd}"></td>
        </tr>
    </table>
    <a href="/task2">Reload</a>
    <br><br>
    <a href="/task3">Task 3</a><br>
    <a href="/">Back</a>
</head>
<body>

</body>
</html>